<div class="center hero-unit">
  <h1>Welcome to TweetTweetHooray</h1>

  <h2>This is the home page for <a href="http://tweettweethooray.herokuapp.com">TweetTweetHooray</a></h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("tentacles.jpg", alt: "Krath"), 'http://keithriordan.com' %>
