<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
    <title>TweetTweetHooray | <%= yield(:title) %></title>
  </head>

  <body>
    <h1>Welcome to TweetTweetHooray</h1>
  </body>
</html>
